<div style="text-align: center;">
    <h1>edit cohort <%= @cohort.name %></h1>
    <div class="form-horizontal">
      <%= form_for @cohort do |f| %>
        <%= render partial: 'form_fields', locals: {f: f} %>
        <%= render partial: 'calendar_id_form_fields', locals: {f: f} %>
        <%= f.submit "Edit Cohort", class: "btn btn-primary", style: "width: 100%; margin-top: 20px" %>
      <% end %>
    </div>  
  </div>
</div>

