<div class="row">
  <div id="cohort-index-title">
    <h1><%= @cohort.name %></h1>
    <%= render partial: 'cohort_buttons', locals: {cohort: @cohort} %>
  </div>

  <div class="schedule-container">
    <div class="schedule-table col-md-5">
      <%= render partial: 'cohort_students', locals: {cohort: @cohort} %>
    </div>
  
    <div class="schedule-table col-md-5">
      <%= render partial: 'cohort_schedules', locals: {cohort: @cohort} %>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="schedule-container">
    <div class="schedule-table col-md-5">
      <%= render partial: 'cohort_links', locals: {cohort: @cohort} %>
    </div>
  
    <div class="schedule-table col-md-5">
      <%= render partial: 'cohort_objectives', locals: {cohort: @cohort, weeks: @weeks} %>
    </div>
</div>