<h1>Week <%= @schedule.week %>, Day <%= @schedule.day %></h1>
<h3><%= @schedule.pretty_date %></h3>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Time</th>
      <th>Activity</th>
    </tr>
  </thead>
  <tbody>
  <% @schedule.activities.each do |activity|  %>
    <tr>
      <td><%= activity.start_hour %></td>
      <td><%= activity.description %></td>
    </tr>
  <% end %>
  </tbody>
</table> 


<div class="row schedule-info">

  <% if !@schedule.blog_assignments.empty? %>
      <h3>Blogs</h3>
        <p>
          <ul>
            <% @schedule.blog_assignments.each do  |blog_assignment| %>
               <li>
                  <a href="<%= blog_assignment.student.blog_url %>"><%= blog_assignment.student.full_name %></a>
                </li>
            <% end %>
          </ul>
        </p>
    <% end %>

</div>


<div class="row schedule-info">

  <% if !@schedule.notes.empty? %>
      <h3>Notes</h3>
        <p>
          <%= @schedule.notes %>
        </p>
    <% end %>

</div>


<div class="row schedule-info">

  <% if !@schedule.objectives.empty? %>
    <h3>Objectives</h3>
      <p>
      <ul>
        <% @schedule.objectives.each do |objective| %>
        <li>
          <%= objective.content %>
        </li>
        <% end %>
      </p>
  <% end %>

</div>

<div class="row schedule-info">

<h3>Labs</h3>
  <ul>
    <%@schedule.labs.each do |lab| %>

    <li>
      <a href="http://www.github.com/learn-co-students/<%= lab.name %>-<%= @schedule.cohort.name %>"><%= lab.name %></a>
    </li>
    <%end %>
  </ul>

</div>





