<% if current_user_active_cohort(@cohort)%>
  <div class="col-lg-6 col-lg-offset-3">
    <div class="form-horizontal">
      <%= form_for [@cohort, @schedule] do |f| %>
        <%= render partial: "cohorts/schedules/form_fields/form_fields", locals: {f: f, cohort: @cohort, schedule: @schedule} %>

        <%= f.submit "Create Schedule", class: "btn btn-primary" %>
        </fieldset>
      <% end %>
    </div>
  </div>
<% else %>
<div class="alert alert-dismissible alert-danger cohort-warning">
  Sorry, you can only make a new schedule for your active cohort. To make <%= @cohort.name %> your active cohort, visit the <%= link_to "cohort's index page", cohorts_path %> and click the "make active cohort" button.
</div>
<% end %>
