<h1><%= @schedule.pretty_date %></h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Time</th>
      <th>Activity</th>
    </tr>
  </thead>
  <tbody>
  <% @schedule.activities.each do |activity|  %>
    <tr>
      <td><%= activity.hour %></td>
      <td><%= activity.description %></td>
    </tr>
  <% end %>
  </tbody>
</table> 




<h3>Notes and Objectives</h3>
  <p>
    <%= @schedule.notes %>
  </p>

<h3>Labs</h3> 

<ul>
  <%@schedule.labs.each do |lab| %>

  <li>
    <a href="http://www.github.com/learn-co-students/<%= lab.name %>-<%= @cohort.name %>"><%= lab.name %></a>
  </li>
  <%end %>
</ul>
