<h1>Week <%= @schedule.week %>, Day <%= @schedule.day %></h1>
<h3><%= @schedule.pretty_date %></h3>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Time</th>
      <th>Activity</th>
    </tr>
  </thead>
  <tbody>
  <% @schedule.activities.each do |activity|  %>
    <tr>
      <td><%= activity.start_hour %></td>
      <td><%= activity.description %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<!-- NOTES -->
<% if !@schedule.notes.empty? %>
  <h3>Notes</h3>
    <p>
      <%= @schedule.notes %>
    </p>
<% end %>

<!-- OBJECTIVES -->
<% if !@schedule.objectives.empty? %>
  <h3>Objectives</h3>
    <p>
      <% @schedule.objectives.each do |objective| %>
        <%= objective.content %>
      <% end %>
    </p>
<% end %>

<h3>Labs</h3>
<ul>
  <%@schedule.labs.each do |lab| %>

  <li>
    <a href="http://www.github.com/learn-co-students/<%= lab.name %>-<%= @schedule.cohort.name %>"><%= lab.name %></a>
  </li>
  <%end %>
</ul>

<%= link_to "deploy schedule", cohort_schedule_deploy_path(@schedule.cohort, @schedule), method: "post", remote: true, class: "btn btn-primary" %>

<a href="http://www.github.com/learn-co-curriculum/<%= @schedule.cohort.name %>" class="btn btn-primary">View Repo</a>

<%= link_to "reserve rooms", cohort_schedule_reserve_path(@schedule.cohort, @schedule), method: "post", id: "edit", class: "btn btn-primary" %>

<%= link_to "reserve rooms", edit_cohort_schedule_path(@schedule.cohort, @schedule), method: "post", id: "edit", class: "btn btn-primary" %>

<br>
