<label for="schedule_activities_attributes_{{newIdNum}}_start_time">Start Time</label>
<input class="form-control" type="time" name="schedule[activities_attributes][{{newIdNum}}][start_time]" id="schedule_activities_attributes_{{newIdNum}}_start_time">

<label for="schedule_activities_attributes_{{newIdNum}}_end_time">End Time</label>
<input class="form-control" type="time" name="schedule[activities_attributes][{{newIdNum}}][end_time]" id="schedule_activities_attributes_{{newIdNum}}_end_time">

<br>

<label for="schedule_activities_attributes_{{newIdNum}}_description">Description</label>

<input class="form-control" type="text" name="schedule[activities_attributes][{{newIdNum}}][description]" id="schedule_activities_attributes_' + new_id_num + '_description">

<br>

<label for="schedule_activities_attributes_{{newIdNum}}_reserve_room">Reserve Room</label>

<input type="hidden" name="schedule[activities_attributes][{{newIdNum}}][reserve_room]" value="0">
<input type="checkbox" value="1" name="schedule[activities_attributes][{{newIdNum}}][reserve_room]" id="schedule_activities_attributes_{{newIdNum}}][reserve_room]">

<br><br>
