
<label for="schedule_objectives_attributes_{{newIdNum}}_content">Students will be able to:</label>
<input class="form-control" type="text" name="schedule[objectives_attributes][{{newIdNum}}][content]" id="schedule_objectives_attributes_{{newIdNum}}_content" data-{{addType}}-position={{newIdNum}}>

<br>