<div class="form-group">
  <div class="col-lg-2">
  <%= f.label :week %>
  <%= f.number_field :week, class: "form-control" %>
  </div>

  <div class="col-lg-2">
    <%= f.label :day %>
    <%= f.number_field :day, class: "form-control"%>
  </div>

  <div class="col-lg-8">
    <%= f.label :date %>
    <%= f.date_field :date, class: "form-control" %>
  </div>
</div>

